[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pyinstaller = "*"
pylint = "*"
yapf = "*"
pytest = "*"
pipenv-setup = "*"
tox = "*"
debugpy = "*"

[packages]
requests = {extras = ["socks"], version = "*"}
semver = "*"
python-dateutil = "*"
pyside2 = "*"
typing-extensions = "*"
importlib-resources = "*"
appdirs = "*"

[requires]
python_version = "3.8"
